<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<remove name="Cache-Control" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<outboundRules>
				<!-- No cache on index.html and blazor.boot.json -->
				<rule name="NoCacheBootFiles" preCondition="IsBootFile">
					<match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
					<action type="Rewrite" value="no-cache, no-store, must-revalidate" />
				</rule>
				<!-- Immutable cache on fingerprinted framework assets -->
				<rule name="ImmutableFrameworkAssets" preCondition="IsFrameworkAsset">
					<match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
					<action type="Rewrite" value="public, max-age=31536000, immutable" />
				</rule>
				<preConditions>
					<preCondition name="IsBootFile">
						<add input="{REQUEST_URI}" pattern="(index\.html|blazor\.boot\.json)$" />
					</preCondition>
					<preCondition name="IsFrameworkAsset">
						<add input="{REQUEST_URI}" pattern="/_framework/.+\.(js|wasm|dll|dat)$" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>