<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="null" />
    </Found>
    <NotFound>
        <p>Page not found</p>
    </NotFound>
</Router>
